body {
	background-color: #FFA07A;
	font-family: sans-serif;
	}
/*top portion of the page but only to define page/*/
.headerTitle{
	display: block;
	float: left;
	width: 75%;
}
/*adding style to the things inside the top section*/
.title {
	font-size: 30px;
	color: black;	
}
/*links to the right defining space*/
.headerLinks{
	display: block;
	float: left;
	width: 25%;
}
/*appling style to the links to the ritght*/
.linkRight{
	color: blue;	
}

.linkItem{	
	float: left;
	margin: 75px 0% 0% 0%;
	padding: 0 15px 0 0;
}
.headerLink{
	color: blue;
	text-decoration: none;
}
.headerLink:hover{
	color:white;
	text-decoration: underline;
}
.leftMenu{
	width: 25%;
	float: left;
	clear: left;	
} 
.leftMenuWeeks{
	color: white;
	margin: 30px 40px 0 5px;
	text-align: center;
	background-color: black;
	padding: 5px 5px 5px 5px;
}
.leftMenuImage {
	width: 100%;
}
.classProgression{
	float: left;
	width: 75%;
}
.articleTitle{
	font-weight: bold;
	font-size: 20px;
}
.contentArticles{
}

.textWrap{
	float: right;
	margin: 10px;
	border: 1px solid black;
}
.footernoteArticle{
	font: bold;
	font-size: 12px;
}

#bottomNote{
	font: italic;
	font-size: 12px;
}
.footerProperties{
	width: 100%;
	float: left;
	text-align: center;
}
.weekLink{
	color: white;
	list-style: none;
	text-decoration: none;
}
.weekLink:hover{
	color:red;
	text-decoration: underline;